<form asp-controller="Employee" asp-action="UploadFile" enctype="multipart/form-data" method="post">
    <input type="file" name="file" value="Choose File" />
    <input type="submit" value="Submit" />
</form>
